
body {
  margin: 0;
  text-align: center;
  background-color: #E4F9F5;
}

.top_container {
  position: relative;
  padding-top: 100px
}


h1 {

}

.botton_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top_cloud {
  position: absolute;
right: 300px;
top: 50px;

}
